html{
    font-size: 10px;
    font-family: "Playwrite GB S", cursive;
    background-color: aqua;
}
h1{
    margin:0;
    padding: 20px 0;
    color: chartreuse;
    text-shadow: 3px 3 px 1px black;
}

p,
li{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

body{
    width: 600px;
    margin: 0 auto;
    background-color: blueviolet;
    padding: 0 20px 20 px 20px;
    border: 5px solid burlywood;
}
img {
    display: block;
    margin: 0 auto;
}